/*estilos para el componente header*/
.app-header {
background-color: aqua;
color: blue;
padding: 15px;
}
.app-header nav a {
    color: aliceblue;
    margin: 0% 10px;
    text-decoration: none;
}
.app-header nav a:hover {
    text-decoration: underline;
}
/*estilos para el content*/
.app-header nav a {
    margin: 0%;
    border: 1 solid#ddd ;
    border-radius: 8px;
    padding: 12%;
}
.app-header h1 {
    margin: 0;
    font-size: 10px;
    color: blue;
}
/*estilos para footer*/
.app-header {
    background-color: aquamarine;
    padding: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
